<div class="home-container" 
     [ngStyle]="{
       'height': '100vh',
       'background-image': 'url(/2.jpg)',
       'background-size': 'cover',
       'background-position': 'center',
       'background-repeat': 'no-repeat'
     }">

  <div class="top-icons">
    <div class="icon">🏠</div>
    <div class="icon">👤</div>
    <div class="icon">⚙️</div>
    <div class="icon">🛒</div>
  </div>

  <div class="left-section">
    <div class="logo">
      <div class="house-icon">🏠</div>
      <div class="text">RE HOME.</div>
    </div>

    <app-login></app-login>

<button type="button" routerLink="/signup">Signup</button>
  </div>
</div>
